*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
.mainone{
    width: 100vw;
    height: 90vh;
    background-image: url(https://c0.wallpaperflare.com/preview/427/50/498/bengaluru-india-wonderla-bangalore-ride.jpg);
    background-size: cover;
   
}

h1{
    font-size: 2.98rem;
    margin-bottom: 24px;
}
h2{
    font-size: 2.48;
}
h3{
    font-size: 2.07;
    margin-bottom: 1.25rem;
}
h4{
    font-size: 1.7;
}
.white{
    color: rgb(9, 10, 11);
    margin-bottom: 24px;
}
.blue{
    color: rgb(50, 70, 90) ;
    font-size: 2rem;
    text-align: center;
}
.orange{
    color: rgb(255, 255, 255);
    background: #516d7a;
    text-align: center;
}
.orangecol{
    color: whitesmoke;
    background: orange;
    text-align: center;
}
.link {
    color: #250979;
}
.container{
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.menuicon{
    background-color: transparent;
    border: none;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header{
    padding-top:1.5rem ;
    padding-bottom: 1rem;
  

  
 

  
}
#logo{
    text-decoration: none;
    font-size: 2rem;
    color:rgb(50, 70, 90);
}
#logo,h1,h2,h3,h4,h5{
    font-family: 'Lora', serif;
    font-weight: 600;
     
}



p{
    color: rgb(11, 11, 11);
    max-width: 640px;
}
.buttonholder{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 40px;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in;

}

.buttonprimary{
 
    background-color: whitesmoke;
    color: rgb(5, 5, 5);
}      
 
.buttonprimary:hover {
    background-color: rgb(50, 70, 90);
    color: rgb(235, 235, 235);
    border-radius: 0.25rem;
    
}

.buttonsecondary:hover{
    background-color: rgb(19, 18, 18);
    color: white;
}

.buttonsecondary{
   
    color: rgb(15, 14, 14);
    border: 1px solid rgb(9, 9, 9);
}
.buttons{
    display: flex;
    flex-direction: column;
  
    gap: 0.5rem;
    margin-top: 2rem;

}

#aboutsection{
   background: none ;
}

section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.bloglist{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.blog{
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
}
.blog img{
    width: 100%;
    margin-top: 1rem;
    
}
.blog p{
    font-size: 0.9rem;
}
nav{
    display: none;
}
@media only screen and (min-width: 576px) 
{
.bloglist{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
}

@media only screen and (min-width: 600px) {
   .buttons{
    display: flex;
    flex-direction: row;
   }
}
  @media only screen and (min-width: 768px) {
   .menuicon{
    display: none;
   }
   nav{
    display: block;
   }
   nav ul{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
   }
   nav a{
    text-decoration: none;
    color: rgb(194, 185, 185);
   }

   nav a:hover{
    color:  rgb(50, 70, 90);
   }

}
   .bloglist{
    grid-template-columns: 1fr 1fr 1fr ;
   }
   .styled-date {
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
  }
  .cash{
    font-weight: bold;
    font-size: medium;
    color: #250979;
  } 
  .buy{
    border: none;
    background: #dc436e;
    color: aliceblue;
    font-size: larger;
    padding: 4px 4px;
    border-radius: 0.5rem;
  }
  .contact-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact-section h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Styling for the form */
  .contact-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  .site-footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .footer-logo img {
    width: 100px;
  }
  
  .footer-links,
  .footer-social {
    flex: 1;
  }
  
  .footer-links h3,
  .footer-social h3 {
    margin-bottom: 15px;
  }
  
  .footer-links ul,
  .footer-social ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-links li,
  .footer-social li {
    margin-bottom: 10px;
  }
  
  .footer-links a,
  .footer-social a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover,
  .footer-social a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }